html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

img {
  max-width: 100%;
}

/* сброс стилей для ссылки, списка,кнопки, заголовков */
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  line-height: 0;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

button {
  border: none;
}
